/* ChatboxHeader.css (or your main CSS file) */
.chatbox__header {
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: left;
    padding: 0.5px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
  background-color: #0056b3;
  }
  
  .chatbox__image--header {
    margin-right: 10px;
  }
  
  .chatbox__heading--header {
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    text-align: left;
  }
  
  .chatbox__description--header {
    font-size: 0.9rem;
    color: rgb(15, 53, 135);
  }
  