.hidden {
  visibility: hidden;
  /* other styling */
}

.show {
  visibility: visible;
  /* other styling to make the Popup visible */
}

/* Style for the Chatbot container */
.chatbot-container {
  position: fixed;
  bottom: 85px;
  right: 20px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  z-index: 9999;
}

/* Style for the Chat window inside the container */
.chat-window {
  height: 300px;
  padding: 10px;
  overflow-y: auto;
}

hr {
  margin: 0 15px 4px 15px;
  background-color: #b0b0b0;
  height: 1px;
  border: 0;
}

/* Style for the input field and send button */
.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
  outline: none;
}

.chat-input input {
  font-family: "Open Sans", "Segoe UI", sans-serif;
  font-size: 15px;
  flex: 1;
  padding: 8px;
  border: 1px transparent;
  outline: none;
}

.chat-input button {
  margin: 0 10px;
  padding: 7px 8px 5px 9px;
  border: none;
  border-radius: 100%;
  color: #fff;
  background-color: #0d4d95;

  cursor: pointer;
  outline: none;
}

.chat-input img {
  height: 16px;
  width: 16px;
}

.chat-input button:hover {
  background-color: #0056b3;
}
